<nav class="navbar d-flex justify-content-between navbar-light bg-light">
    <a class="navbar-brand" href="#">Elections</a>
    <ul class="navbar-nav d-flex flex-row">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'parties'">Parties</a>
      </li>
      <li class="nav-item ml-3">
        <a class="nav-link" [routerLink]="'voter'">Voter</a>
      </li>
      <li class="nav-item ml-3">
        <a class="nav-link" [routerLink]="'resultat'">Resultat</a>
      </li>
    </ul>
  </nav>
  